body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    /* background-color: black; */
    background: linear-gradient(#1db954 ,black 60%);
    color: #fff;
    /* overflow: scroll; */
    overflow: hidden;
}


.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    /* border: 2px solid green; */
    border-radius: 1rem;
    /* background-color: #000; */
    background: linear-gradient(#1db954 ,black 60%);
    margin-right: 0.5rem;
}

.main-cont{
    /* border: 2px solid red; */
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    /* overflow:scroll; */
    background-color: #121212;
    padding-left: 1.5rem;


}



.music-player{
    /* border: 2px solid yellow; */
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100px;
    background-color: black;
    /* background-color: black; */
    
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

i{
    font-size: 1.25rem;
}

.nav{
    background-color:#121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    /* border: 2px solid red; */
    padding: 0.5rem 0.8rem;

    
   
    /* margin-left: 10px; */
    height: 112px;
}


.nav1,.nav2{
    padding: 0.5rem 0.75rem;
    line-height: 40px;
    opacity: 0.7;
    transition: 0.6s;
    
    /* left: 200px; */
}

.option i{
    font-size: 1.25rem;
}

.option a{
    font-size: 1rem;
}


.option:hover{
    opacity: 1;
}

.nav1{
    opacity: 1;
}




.library{
    padding: 0.5rem 0.8rem;
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.8rem;

    /* display: flex; */
    
 
}




.options{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;


}


.library-option{
    opacity: 0.7;
    transition: 0.7s;


}

.library-option:hover{
    opacity: 1;
}


.options img{
    height: 1.25rem;
    width: 1.25rem;

}

.a{
    padding: 0.2rem;
    margin-right: 0.6rem;

}

.b{
    /* justify-self: end; */
    opacity: 0.7;
    transition: 0.7s;

}

 .b:hover{
    opacity: 1;
}


.a{
    /* justify-self: end; */
    opacity: 0.7;
    transition: 0.7s;

}

.a:hover{
    opacity: 1;
}


.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    padding:1rem 0 1.25rem 0;
    margin:0.5rem 0 0.5rem 0;



}


.box-p1{
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
}


.box-p2{
    font-size: 0.75rem;
    opacity: 0.8;
}



.badge{
    background-color: #fff;
    border-radius: 100px;
    padding: 0.4rem 1rem;
    border: none;
    font-weight: 700;
    height: 2rem;
    transition: 0.5s;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 0.75rem 0;
}



p{
    opacity: 0.9;
    color: white;
    /* box-shadow: 0 0.5px 0.1px  white; */
    transition: 0.5s;
}

p:hover{
    font-size: 1.01rem;
}


.badge:hover{
    box-shadow: 2px 20px 9px black ;
}

/* 
.btdownload{
    display: flex;
    justify-content: baseline;
} */


.sticky-nav{
    position: sticky;
    top:0;
    background-color: #121212;
    box-shadow: 2px 9px 7px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    /* height: 2rem; */
    z-index: 10;
}


.sticky-nav-icons{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.sticky-nav-icons .icon1{
    background-color: #000;
    border-radius: 50%;
    /* position: relative;/ */
    /* left: 0.1rem; */
    transition: 0.7s;




}


.sticky-nav-icons .icon1:hover{
    box-shadow: 0 0 7px white;
}

.sticky-nav-icons .icon2{
    background-color: #000;
    border-radius: 50%;
    position: relative;
    left: 1rem;
    transition: 0.7s;


}

.sticky-nav-icons .icon2:hover{
    box-shadow: 0 0 7px white;
}


.nav-margin{
    margin-right: 1rem;
}

.badge2{
    color: white;
    background-color: #000;
    /* display: flex; */
    /* justify-content: baseline; */
}

.badge2 i{
    margin-right: 10px;
    position: relative;
    top: 0.1rem;
}


@media(max-width:1000px){
    .hide{
        display: none;
    }
}


.card{
    background-color: #232323;

    width: 200px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 1rem 1rem 1.5rem 1rem;
   margin-left: 1.5rem;
   margin-top: 1rem;
   transition: 0.5s;
   

    
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 6px #1db954;
}

.card-title{
    font-weight: 600;
}


.card-info{
   font-size: 0.7rem;
   opacity: 0.5;
    
}


.card img{
    width: 95%;
    border-radius: 0.5rem;
    

}

.cards-container{
    display: flex;
    flex-wrap: wrap;

}


h7{
    text-align: center;
}


.footer{
    height:  300px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* align-items: center; */
}

.line{
    width:40%;
    height:40%;
    border-top: 1px solid white;
    /* margin: -6px auto; */
    opacity: 0.4;
}


.more{
    display: inline;
    padding: 1rem;
}


.feature{
    display: inline;
}


.title{
    display: flex;
    justify-content: space-between;
}


.music-player{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    
}

.album{
    width:25%;
    /* background-color: blue; */
}

.player{
    width: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.player-control{
    display: flex;
    justify-content:center;
    align-items: center;
}

.playback{
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}



.control{
    width: 25%;
    /* background-color: aqua; */
}


.player-control-icon{
    height: 1.2rem;
    margin-left: 4rem;
    margin-top: 1rem;
    opacity: 0.7;
    transition: 0.3s;

}

.player-control-icon:hover{
    opacity: 1;
}


.progress{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}


.progress::-webkit-slider-runnable-track{
    border-radius: 100px;
    background-color: #ddd;
    height: 0.2rem;

}

progress:hover::-webkit-slider-runnable-track{
    background-color: #1bd567;
}

.progress::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd567;
    border-radius: 50%;
    margin-top: -6px;
    
}


::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ddd; 
  border-radius: 10px;
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
  /* background-color: #1bd567;  */
  background: linear-gradient(#1db954 ,black 60%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #1bd567; 
  
   /* background: linear-gradient(#1db954 ,black 60%); */
}


.album{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}


.albumimg{
    /* width: 1rem; */
    height: 5rem;
    /* font-size: 20px; */
    padding-top: 0.75rem;
    padding-left: 1rem;
}

.albumname{
    font-weight: 700;

}

.alb{
    padding: 0 1rem;
}


.albumartist{
    font-size: small;
}


.albumicon{
    height: 1.55rem;
    padding-left: 1.5rem;
}

.albicon{
    display: flex;
    justify-content: end;
    align-items: center;
}


.control{
    display: flex;
    justify-content: start;
    align-items: center;
}


.controllogo{
    height: 1.55rem;
    padding-left: 1rem;


}
.c3{
    height: 1rem;
}

.range{
    appearance: none;
    background: transparent;
    /* height: 1rem;
    width: 1rem;
    background-color: #1bd567;
    border-radius: 50%;
    margin-top: -6px; */
}

.range::-webkit-slider-runnable-track{
    border-radius: 100px;
    background-color: #ddd;
    height: 0.2rem;
    cursor: pointer;

}

.range::-webkit-slider-thumb{
    /* appearance: none; */
    margin: -6px;
    
    


}